apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
    name: storefront
    namespace: "{{PROJECT_NAME}}"
spec:
    scaleTargetRef:
        apiVersion: apps/v1
        kind: Deployment
        name: storefront
    minReplicas: 2
    maxReplicas: 2
    behavior:
        scaleUp:
            stabilizationWindowSeconds: 60
            selectPolicy: Max
            policies:
                - type: Pods
                  value: 2
                  periodSeconds: 60
                - type: Percent
                  value: 50
                  periodSeconds: 60
        scaleDown:
            stabilizationWindowSeconds: 900
            selectPolicy: Max
            policies:
                - type: Pods
                  value: 1
                  periodSeconds: 60
                - type: Percent
                  value: 30
                  periodSeconds: 60
    metrics:
        -   type: Resource
            resource:
                name: cpu
                target:
                    type: Utilization
                    averageUtilization: 120
