apiVersion: apps/v1
kind: Deployment
metadata:
    name: cron
    labels:
        app: cron
spec:
    replicas: 1
    strategy:
        type: Recreate
    selector:
        matchLabels:
            app: cron
    template:
        metadata:
            annotations:
                logging/enabled: "true"
                project/app: "cron"
                project/environment: "{{PROJECT_ENVIRONMENT}}"
                project/name: "{{NAME_OF_PROJECT}}"
            labels:
                app: cron
        spec:
            terminationGracePeriodSeconds: 3000
            tolerations:
                -   key: "workload"
                    operator: "Equal"
                    value: "background"
                    effect: "NoSchedule"
            affinity:
                nodeAffinity:
                    preferredDuringSchedulingIgnoredDuringExecution:
                        -   weight: 100
                            preference:
                                matchExpressions:
                                    -   key: workload
                                        operator: In
                                        values: ["background"]
            volumes:
                -   name: domains-urls
                    configMap:
                        name: domains-urls
                -   name: cron-list
                    configMap:
                        name: cron-list
                -   name: cron-env
                    configMap:
                        name: cron-env
                -   name: fe-api-keys-volume
                    secret:
                        secretName: fe-api-keys
                        defaultMode: 0644
            containers:
                -   image: "{{TAG}}"
                    name: cron
                    securityContext:
                        runAsUser: 0
                    imagePullPolicy: IfNotPresent
                    workingDir: /var/www/html
                    command: ["/bin/sh","-lc"]
                    args:
                        - >
                            ./phing warmup > /dev/null

                            # FIFO for logs
                            rm -f /tmp/log-pipe && mkfifo /tmp/log-pipe && chmod 666 /tmp/log-pipe

                            # crontab
                            crontab -u root /var/spool/cron/template

                            # run on backround
                            stdbuf -o0 tail -n +1 -f /tmp/log-pipe &

                            exec crond -f || exec cron -f
                    lifecycle:
                        preStop:
                            exec:
                                command:
                                    - /bin/sh
                                    - -lc
                                    - |
                                        ( ./bin/console deploy:cron:lock > /tmp/cron-lock.log 2>&1 || true ) &
                                        ./bin/console deploy:cron:watch || true
                    volumeMounts:
                        -   name: domains-urls
                            mountPath: /var/www/html/{{DOMAINS_URLS_FILEPATH}}
                            subPath: "{{DOMAINS_URLS_FILENAME}}"
                        -   name: cron-list
                            mountPath: /var/spool/cron/template
                            subPath: cron
                        -   name: cron-env
                            mountPath: /root/.project_env.sh
                            subPath: .project_env.sh
                        -   name: fe-api-keys-volume
                            readOnly: true
                            mountPath: /var/www/html/config/frontend-api
            imagePullSecrets:
                -   name: dockerregistry
