resources:
    - ../../deployments/webserver-php-fpm.yaml
    - ../../services/webserver-php-fpm.yaml
    - ../../deployments/storefront.yaml
    - ../../services/storefront.yaml
    - ../../deployments/cron.yaml
    - ../../configmap/nginx.yaml
    - ../../configmap/production-php-fpm.yaml
    - ../../configmap/production-php-opcache.yaml
    - ../../configmap/cron-env.yaml
    - ../../configmap/cron-list.yaml
    - ../../ingress/ingress-rabbitmq.yaml
    - ../../horizontalPodAutoscaler.yaml
    - ../../horizontalStorefrontAutoscaler.yaml
namespace: "{{PROJECT_NAME}}"
configMapGenerator:
    -   name: domains-urls
        files:
            - ../../../../../{{DOMAINS_URLS_FILEPATH}}
